@import "src/styling/vars";
@import "src/styling/utilities";

.languageSwitch {
  .button{
    margin: 0;
    padding: 0 1rem;
    border: none;
    border-right: $border-width-md solid $color-gray-shade-80;

    background: none;

    cursor: pointer;

    font-size: $font-size-title-sm;
    
    &:last-child{
      border-right: none;
    }

    &.active{
      font-weight: $font-weight-bold;
    }
  }
}