@import "src/styling/vars";

.label {
    position: relative;

    margin: 1rem 0;
    padding: 0.5rem;

    font-size: $font-size-text-sm;
}

.input {
    position: relative;
    display: flex;

    width: 100%;
    max-width: $input-field-width;
    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid $color-gray;
    border-radius: 0.1rem;

    outline: none;

    transition: padding $animation-in;

    font-size: $font-size-text-sm;

    &.active, &:hover {
        border: 1px solid $color-dark-gray;
    }

    &.error {
        color: inherit;
        border: 1px solid $color-error;
    }
}

.error {
    color: $color-error;
}

.sm {
    font-size: $font-size-text-sm;
}

.md {
    font-size: $font-size-text-md;
}

.lg {
    font-size: $font-size-text-lg;
}
