@import "../../styling/vars";
@import "../../styling/utilities";

.button {
  position: relative;

  border-radius: 50px;

  cursor: pointer;

  font-family: $font-family-text;


  &[disabled],
  &[disabled]:hover,
  &[disabled]::before {
    pointer-events: none;
  }

  &.sm{
    padding: .8rem 1.2rem;
    font-size: $font-size-text-sm;

  }

  &.md{
    padding: 1rem 2rem;
    font-size: $font-size-text-md;

  }

  &.lg{
    padding: 1.3rem 2.7rem;
    font-size: $font-size-text-lg;

  }

  &.primary{
    border: $border-width-xs solid transparent;
    background: $color-gray-shade-10;
    color: $color-gray-tint-100;

    &:hover {
      background: $color-gray-shade-30;
    }

    &:active{
      background: $color-gray-shade-40;
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]::before {
      background: $color-gray-shade-10;
      color: $color-gray;
      cursor: default;
    }

    &.is-loading {
      @extend %loading-animation;
  
      &::after{
        border-color: $color-gray-tint-80;
      }
    }
  }


  &.secondary{
    border: $border-width-xs solid $color-gray-tint-70;
    background: $color-white;
    color: $color-gray-shade-50;  

    &:hover {
      background: $color-gray-tint-90;
    }
    
    &:active{
      background: $color-gray-tint-80;
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]::before {
      background: none;
      color: $color-gray-tint-40;
      cursor: default;
    }

    &.is-loading {
      @extend %loading-animation;
  
      &::after{
        border-color: $color-gray;
      }
    }
  }
}