@import '../../styling/vars';
@import '../../styling/utilities';

.popUp {
    @extend %absolute-container;
    z-index: 2;
    display: none;

    width: 100%;
    max-width: $popup-container;
    min-height: 10rem;

    background-color: $color-white;
    box-shadow: $box-shadow;

  
    @media (max-width: $break-m) {
        max-width: calc(100vw - 2rem);
    }

    &.open {
        display: block;
    }

    .closeButton{
        position: absolute;
        top: 0;
        right: 0;
    }
}

.backgroundBlur {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(black, 0.2);
}
