@import "./reset";
@import "./vars";

// Place your global styling imports here. Split them up in separate files that represent a logical unit.
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
button,
input {
  // This defines what 1rem is
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%

  @media (max-width: $break-m) {
    overflow-x: hidden;
    max-width: 100vw;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}
