@import "reset";
@import "global";
@import "vars";

%page-container {
  max-width: $desktop-container;
  margin: 0 auto;

  @media (max-width: $break-lg) {
    padding: 0 2rem;
  }

  @media (max-width: $break-m) {
    padding: 0 1rem;
  }
}

%absolute-container {
  position: absolute;
  top: 50%;
  left: 50%;

  max-width: $desktop-container;

  transform: translate(-50%, -50%);
  
  @media (max-width: $break-m) {
    max-width: calc(100vw - 2rem);
  }
}

%loading-animation {
  content: "";
  position: relative;


  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    
    width: 2rem;
    height: 2rem;
    border: $border-width-md solid black;
    border-radius: 50%;

    background: transparent;

    transform: translate(-50%, -50%);
    animation-name: loading;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;

    clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 50%, 30% 100%, 0 100%); 



    @keyframes loading {
      0% {
        transform: translate(-50%, -50%) rotate(0); 
        clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 50%, 30% 100%, 0 100%); 
      }
      
      50%  { 
        clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 50%, 60% 100%, 0 100%);
      }

      100% {
        transform: translate(-50%, -50%) rotate(360deg);
        clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 50%, 30% 100%, 0 100%); 

      }
    }
  }
}