@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";

// MEDIA QUERY SIZE
$break-s: 320px;
$break-m: 670px;
$break-lg: 960px;

// COLORS

$color-gray-tint-100: #fff;
$color-gray-tint-90: #f2f2f2;
$color-gray-tint-80: #e6e6e6;
$color-gray-tint-70: #d9d9d9;
$color-gray-tint-60: #ccc;
$color-gray-tint-50: #c0c0c0;
$color-gray-tint-40: #b3b3b3;
$color-gray-tint-30: #a6a6a6;
$color-gray-tint-20: #999;
$color-gray-tint-10: #8d8d8d;
$color-gray: #808080;
$color-gray-shade-10: #737373;
$color-gray-shade-20: #666;
$color-gray-shade-30: #5a5a5a;
$color-gray-shade-40: #4d4d4d;
$color-gray-shade-50: #404040;
$color-gray-shade-60: #333;
$color-gray-shade-70: #262626;
$color-gray-shade-80: #1a1a1a;
$color-gray-shade-90: #0d0d0d;
$color-gray-shade-100: #000;
$color-green: #497361;
$color-white: white;
$color-light-gray: #d8d1c7;
$color-gray: #afafaf;
$color-dark-gray: #3c3c39;
$color-blue: blue;
$color-red: red;
$color-error: #900;

// FONT FAMILY

$font-family-title: 'Inter', sans-serif;
$font-family-text: 'Inter', sans-serif;

// FONT WEIGHT

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// FONT SIZE

$font-size-title-xlg: 8rem;
$font-size-title-lg: 3.5rem;
$font-size-title-md: 2.6rem;
$font-size-title-sm: 2rem;
$font-size-title-xs: 1.6rem;
$font-size-text-xlg: 1.8rem;
$font-size-text-lg: 1.8rem;
$font-size-text-md: 1.6rem;
$font-size-text-sm: 1.4rem;
$font-size-text-xs: 1.2rem;

// STROKE WEIGHT

$border-width-xl: 0.5rem;
$border-width-lg: 0.3rem;
$border-width-md: 0.2rem;
$border-width-sm: 0.1rem;
$border-width-xs: 0.05rem;

// STROKE WEIGHT

$box-shadow: rgba(0, 0, 0, 5%) 0 6px 24px 0, rgba(0, 0, 0, 8%) 0 0 0 1px;

// MARGINS

$margin-text-xlg: 6rem;
$margin-text-lg: 4rem;
$margin-text: 2rem;

// PADDINGS

$padding: 4rem 2rem;
$padding-small: 2rem 3rem;

// ANIMATION SPEED

$animation-in-lg: 0.4s;
$animation-out-lg: 0.3s;
$animation-in: 0.3s;
$animation-out: 0.2s;

// CONTAINERS

$popup-container: 67rem;
$desktop-container: 96rem;

// CUBIC BEZIER

$cubic-overshoot: cubic-bezier(0.53, 1.69, 0, 1.05);

// BUTTON
$button-width: 30rem;

// FORM

$input-field-width: 30rem;
